[submodule "addons/osm_tilemap"]
	path = addons/osm_tilemap
	url = https://github.com/fcazalet/godot-osm-tilemap.git
[submodule "addons/godot_arcore"]
	path = addons/godot_arcore
	url = https://github.com/GodotVR/godot_arcore.git
